/*======================================================================
Theme Color All Codes Variable
======================================================================*/

:root {
    --theme-general-color: #67686a;
    /* theme gray color */
}

:root {
    --theme-primary-color: #fd3c4d;
    /* theme primary color */
}

:root {
    --theme-secondary-color: #1e105d;
    /* theme secondary color */
}

:root {
    --theme-white-color: #fff;
    /* theme white font color */
}

:root {
    --theme-light-color: #f6f7fa;
    /* theme light gray color */
}

:root {
    --theme-gray-color: #dfdfdf;
    /* theme gray color */
}

:root {
    --theme-text-gray: #c3c3c3;
    /* theme text gray color */
}

:root {
    --theme-dark-color: #181a1d;
    /* theme dark color */
}

:root {
    --theme-footer-color: #1e2124;
    /* theme dark color */
}

:root {
    --theme-primary-opacity-color: rgba(253, 60, 77, .8);
    /* theme secondary color */
}

:root {
    --theme-secondary-opacity-color: rgba(30, 16, 93, .8)
    /* theme secondary opacity color */
}

:root {
    --theme-dark-opacity-color: rgba(24, 26, 29, .8)
    /* theme dark opacity color */
}

:root {
    --theme-white-opacity-color: rgba(255, 255, 255, 0.5);
    /* theme light color */
}

:root {
    --text-light-color: #a5a5a5;
    /* text light color */
}

:root {
    --theme-extra1-color: #36B357;
    /* theme extra1 color ok*/
}

:root {
    --theme-extra2-color: #9262c5;
    /* theme extra2 color ok*/
}

:root {
    --theme-extra3-color: #e56f91;
    /* theme extra3 color ok*/
}

:root {
    --theme-extra4-color: #292d36;
    /* theme extra4 color ok*/
}


/*======================================================================
Font Variables
======================================================================*/

:root {
    --theme-general-font: 'Cabin', sans-serif;
    /* Font use for normal text and general text */
}

:root {
    --theme-hiperlink-font: 'Advent Pro', sans-serif;
    /* Font use for link text */
}

:root {
    --theme-highlight-font: 'Advent Pro', sans-serif;
    /* Font used in title or special area */
}


/*======================================================================
Extra Styles Start
======================================================================*/

body {
    font-weight: 400;
    font-size: 16px;
}

h1,
.h1 {
    font-size: 42px;
    font-weight: 700
}

h2,
.h2 {
    font-size: 36px;
    font-weight: 600
}

h3,
.h3 {
    font-size: 30px;
    font-weight: 600
}

h4,
.h4 {
    font-size: 24px;
    font-weight: 600;
}

h5,
.h5 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
}

h6,
.h6 {
    font-size: 18px;
    font-weight: 600
}

.btn {
    font-family: var(--theme-general-font);
    font-size: 15px;
    padding: 0 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.tagline {
    letter-spacing: 4px;
    font-size: 17px;
}

.list-style-tick.tick-round-primary li::before {
    content: "\f058";
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-expand-lg .navbar-nav .dropdown-item {
    font-family: var(--theme-general-font);
    font-size: 15px;
}

.fact-counter .count-num {
    font-size: 72px;
    font-weight: 300;
}

[class*="-form-style-1"] input {
    padding: 10px 15px 10px 20px;
    height: 50px;
    border-radius: 0;
}

[class*="-form-style-1"] button {
    padding: 0 30px;
    border-radius: 0;
}

[class*="transparent-social-media-"] a {
    color: var(--theme-general-color);
}

.footer-logo img {
    width: 100px;
}